---
import Picture from "~/components/core/Picture.astro";
const { } = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="text-left pb-12 md:pb-16">

        <div class="max-w-3xl mx-auto">
          <h1 class="text-5xl md:text-[3.50rem] font-bold leading-tighter tracking-tighter mb-4">
            Hi, I am
            <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-blue-700 dark:to-blue-200">
                Yoel Pater
            </span>
          </h1>
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            I am a software engineer.
          </p>
          <div class="max-w-none flex justify-center">
            <div>
              <a class="btn text-white bg-blue-600 hover:bg-blue-800 mb-4 sm:mb-0 font-bold"
                href="https://github.com/yoelpater" target="_blank" rel="noopener">Github
              </a>
            </div>
            <div>
              <a class="btn text-white bg-gray-900 hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-gray-800 ml-4"
                href="/blog">Blogs
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>