---
import Layout from '~/layouts/PageLayout.astro';

import { SITE } from '~/config.mjs';

import Hero from '~/components/widgets/Hero.astro';

const title = `${SITE.name} — Software Engineer`;
const description = 'Currently a software engineer';
const canonical = new URL('', Astro.site);
---

<Layout meta={{ title, description, canonical }}>
  <main>
    <Hero />
  </main>
</Layout>
